div.newWordForm
    h1 Add a new word

    form(action='words' method='post')
        include wordDetails.pug
        input(type='submit' name='addWord' id='addWordFormButton' value='Add a new word')
