doctype html
html
head
    title New word result
    link(rel='stylesheet' type='text/css' href='styles.css')
body
    a(href="/") Back to search
    br
    
    h1 You have added a new word to the database ! (ID : #{_id})
    br
    
    include wordDetails.pug
    
