doctype html
html
head
    title Search result
    link(rel='stylesheet' type='text/css' href='styles.css')
body
    h1 You searched for "#{q}"
    br

    div We did not find any matching word in the dictionary.
    br
    div You can add a new word or go 
        a(href='/') back to search
        br
