.generalInfo {
	display: flex;
    flex-flow: row nowrap;
	justify-content: space-between;
    padding-bottom: 2em;
}
.generalInfo_title {
    font-size: 1.5em;
    padding-bottom: 1em;
}
.verbs {
    display: flex;
    flex-flow: row nowrap;
}
.form1 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.form_title {
    font-size: 1.5em;
    vertical-align: middle;
}
.numerus {
    padding: 1em;
}
.tempus_title {
    font-size: 1.5em;
    text-align: center;
}
.pronoun {
    display: flex;
    justify-content: space-between;
}
label {
    padding: 0 1em;
}
.newWordForm {
	display: none;
}
